

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

	      <div class="row">
	        <div class="span3">
				<ul class="media-grid">
				  <li>
				    <a>
				      <img class="thumbnail" src="OspreyNASA_157.png" alt="">
				    </a>
				  </li>
				</ul>
	        </div>
	        <div class="span11">
			        <h2>Great Code<small>  requires a broad view, flexible methods and swift action<small></h2><br>
					<p>Looking for a diligent, analytical, resourceful, reliable, committed and creative developer?<br><br><br>
						You have come to the right place <%= link_to 'find out more', resume_home_index_path, :class => 'btn info' %><br>
					
					
				    <% if User.all.count == 0 %>
						<%= link_to('start', new_user_registration_path) %>
					<% end %>
				  
	       </div>
	      </div>
      </div>



<!-- Example row of columns 
<div class="row">
	  <div class="span3 offset5">
		<a href="http://ospreypointpartners.blogspot.com" target="_blank" shape="rect">
		<img src="http://www.google.com/help/hc/images/logos/blogger_logo.gif"> </a>
	  </div>
	  <div class="span2">
		<a href="http://www.twitter.com/andydenenberg" target="_blank" shape="rect">
		<img src="http://twitter-badges.s3.amazonaws.com/follow_us-a.png"> </a>
	 </div>
</div>
-->

    </div> <!-- /container -->



  </body>
</html>