<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Osprey Point Partners</title>
    <meta name="Entrepreneurs" content="">
    <meta name="Andy Denenberg" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
    <link href="bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Osprey Point Partners</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/pages/about">About</a></li>
            <li><a href="/pages/experience">Experience</a></li>
            <li><a href="http://ospreypointpartners.blogspot.com" target="_blank">Blog</a></li>
            <li><%= link_to "Contact" , new_contact_path %></li>
			<% if user_signed_in? %>
			  	<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
			<% else %>
			  	<li><%= link_to('Login', new_user_session_path) %></li>
			<% end %>
          </ul>
        </div>
      </div>
    </div>

<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->

		  <div class="page-header">
		    <h1>Andy Denenberg <small>Diligent, Analytical, Resourceful, Reliable, Committed, Loyal, Creative</small></h1>
		  </div>

	<h2>Software Engineer</h2>
	  <div class="row">
	    <div class="span15">
	      <h3>Introduction</h3>
	      <p>I am a tireless problem solver and always seeking to improve and grow.  I have a spent the past year learning Ruby, Rails, TDD, Agile and many supporting technologies and methodologies.  I have built a number of my own applications and am now ready ready to work on a team to build something bigger than one individual can create.  These applications have been through the complete lifecycle and continue to evolve and grow.  The experience of creating them has provided me an opportunity to learn how to be proficient in the ROR environment.  I am now ready to apply the skill and experience to a team that is building a great product or service.  I am excited, confident and ready.</p>
	    </div>
	  </div>
	
	  <div class='row'>
	    <div class="span15">
	      <h3>Technical Skills</h3>
	      <p>I have an extensive background in Networking Technology and protocols having spent many years developing hardware and software products used for data communications.  I have built software products, using many languages ranging from Assembler to C++.  Over the past year I have focused on learning the skills required to build complete Web applications using an MVC framework.  I am proficient in all facets of a application's design including; data modeling, logic and presentation.  My pursuit to acquire skill and expertise has been broad, but have more experience in architecture, data and code design and less on presentation (CSS) and test development.  I believe in the value of dry code and test driven development and I am always working to increase my skill level in these areas.</p>
		<p>My preferred platform is Ruby on Rails, Git and Github and hosted on Ubunto or Heroku.  I have used Twitter Bootstrap as base style for most of the applications that I have built.</p>
	    </div>
	  </div>
	
	  <div class='row'>
	    <div class="span15">
	      <h3>Education</h3>
	      <p>BS Electrical Engineering: Colorado State University</p>
		  <p>Post Graduate Studies in Digital Signal Processing: Illinois Institute of Technology</p>
		  <p>Ruby on Rails: Depaul University</p>
	    </div>
	  </div>

	<h3>Some samples of my work:</h3><br>		
	
	<div class="row">
    <div class="span15">
	
      <ul class="thumbnails">
	
      <div class="span5">
		 <h5>Property Tax Analyzer</h5>
          <a href="http://ftv3.heroku.com" class="thumbnail">
            <img src="/assets/bvr_graph_30.png" alt="">
          </a><br>
		<p>Automates the process of Property Tax Appeals.  Quickly determines if a property is assessed fairly and if not builds a set of information that supports an appeal.
		<ul>
			<li>Supports both simple and expert user modes to get quick answers or drill in for more info</li>
			<li>Self registration with validation and security</li>
			<li>Collects and consolidates public records from multiple locations.</li>
			<li>Extensive use of smart crawlers and parsers</li>
			<li>Presents the results in tabular, graphical and geographical mapping formats.</li>
		</ul><br>
		<p><b>Technologies: </b>Ruby, Rails, Ajax, JSON, Mechanize, Nokogiri, Devise, Jquery-UI, Devise, Sendgrid, Gmaps, PostgreSQL, Git</p>
	  </div>

      <div class="span5">
		<h5>Critical Data Monitor</h5>
         <a href="http://talon-v2.heroku.com" class="thumbnail">
           <img src="/assets/home_screen_30.png" alt="">
		 </a><br>
		<p>System checks speed and verifies the validity of downloaded content from selected host devices</p>
		<ul>
			<li>Distributed architecture designed to scale up based on utilization.</li>
			<li>Monitors watch each other and check into repositories to save results and for their queue of instructions.</li> 
			<li>Alarms are immediately dispatched and historical trends of response times are presented in graphical form.</li>
		</ul><br>  
	      <p><b>Technologies: </b>Perl, Ruby, Rails, Git, JSON, Mechanize, JQuery, Twitter Bootstrap, SQLite3, Heroku</p>		
	  </div>
		
      <div class="span5">
	      <h5>Philanthropy Organizer</h5>
	       <a href="http://stin.heroku.com" class="thumbnail">
	         <img src="/assets/stin_screen_30.png" alt="">
		   </a><br>
		<p>Application for tracking donations and work to support select charities</p>
		<ul>
			<li>Automates reporting of annual gift giving</li>
			<li>Consolidates and reports by organizations, users, activities, gifts, etc<li>
			<li>Uploads pictures of furniture, clothing, autos that are donated</li>
			<li>Promotes team efforts to support specific charities</li>
		</ul><br>
	      <p><b>Technologies: </b>Utilizing JQuery, Paperclip, Twitter Bootstrap, SQLite3, Heroku</p>		
	  </div>

      </ul>

    </div>
  </div>
		
		
</div> <!-- Container --> 

  </body>
</html>
