

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->

      <div class="hero-unit">
			<%= render 'form' %>
      </div>


    </div> <!-- /container -->

  </body>
</html>
