

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->

      <div class="hero-unit">

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<form action="" class="form">
  <fieldset>
    <legend>Sign in</legend>
    <div class="clearfix">
      <label for="xlInput3">ID</label>
      <div class="input">
          <%= f.email_field :email , :class=>"xlarge" , :size=>"30" %>
      </div>
    </div><!-- /clearfix -->

    <div class="clearfix">
      <label for="xlInput3">Password</label>
      <div class="input">
	    <%= f.password_field :password , :class=>"xlarge" , :size=>"30" %>
      </div>
    </div><!-- /clearfix -->

  </fieldset>
  <div class="actions">
    <button type="submit" class="btn success">Send</button>&nbsp;<a class="btn info" href="/">Cancel &raquo;</a>

  </div>
</form>

</div> <!-- /container -->

<% end %>
  </body>
</html>
